#top-content {
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	box-shadow: 2px 5px 5px 2px #252526;
	border-radius: 3px;
}

#user-info {
	padding-left: 15px;
}

#user-info span {
	font-size: 20px;
	font-weight: 500;
}


#post-form {
	padding-left: 15px;
	padding-right: 15px;
}

textarea {
	height:auto;
	border: 1px solid black;
}

.post {
	border-left: 1px solid #252526;
}

.comment {
	text-align: right;
	border-left: none;
	border-right: 1px solid #252526;
}

.post-content {
	border:1px solid #252526;
	border-radius: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 2px 5px 5px 2px #252526;
	margin-bottom: 20px;
	background-color: white;
}

blockquote p, blockquote small {
	color: #252526;
	border: #252526;
	font-weight: 500;
	font-size: 15px;

}

